body{
    overflow-x: hidden;
    Font-size: 18px;
    font-family: 'Public Sans', sans-serif;
    background-color: white;
}

header{
    position: relative;
    z-index: 1;
    background-color: white;
    padding: 0 -6rem;    
}
header .container{
    margin-right: 10rem;
    padding-left: 0;
}

#digital-banking{
    background-color: rgb(250, 250, 250);
    height: 45rem; 
    margin: 0 5%;
}
.digital-banking-images{
    position: relative;
}

#digital-banking-button{
    border-radius: 50px;
    background: linear-gradient(to right , rgb(48, 204, 122), rgb(42, 186, 197));
    border: none;
    
}
#digital-banking-button:hover{
    background: rgb(168, 240, 201);
}
.digital-banking-background-image{
    width: 70rem;
    height: 60rem;
    position: relative;
    top: -15.3rem;
    right: 8rem;
}
.digital-banking-phone-images{
    width: 50rem;
    height: 60rem;
    position: absolute;
    top: -8rem;

}
.digital-banking-details{
    margin-top: 10rem;
    
}
.digital-banking-details h1{
    color: #33364f;
    font-weight: 400;
}
.digital-banking-details p{
    color: rgb(181, 180, 185);
    margin: 1rem 0 2rem 0;
}

#reasons{
    background-color: rgb(244, 245, 247);    
    margin: 0 5%;
}
.reasons-why{
    padding: 5rem 0;
    
}
.reasons-why h2{
    color: #33364f;
    font-weight: 300;
    margin-bottom: 1rem;
}
.reasons-why p {
    color: rgb(181, 180, 185);
}
.reasons-why-text{
    margin-bottom: 8rem;
}
.reasons-why-text img{
    margin-bottom: 2.5rem;
}
.reasons-why-text h3, #articles h4{
    margin-bottom: 2rem;
    color: #33364f;
}
.reasons-why-text p , #articles h6, #articles p{
    color: rgb(181, 180, 185);
}

#articles{
    background-color: rgb(244, 245, 247);
    margin: 0 5%;
    
}
#articles h2{
    padding: 4rem 0 2rem 0;
    font-size: 3rem;
}
#articles img{
    height: 13rem;
    width: 17.5rem;
    margin-bottom: 2rem;
    border-radius: 5px 5px 0 0;
}
#articles h6{
    font-size: 11px;
    margin-left: 1rem;    
}
#articles h4{
    margin-bottom: 1rem;
    font-weight: 400;
    margin-left: 1rem;
}
#articles p{
    margin-bottom: 10rem;
    margin-left: 1rem;
}

footer{
    background-color: rgb(45, 49, 78);
    color: white;
    padding: 5rem 5%;
    
}
.footer-icons img{
    padding-right: 3px;
    position: relative;
    top:3.5rem;
}
#footer-button{
    border-radius: 50px;
    margin-bottom: 2rem;
    position: relative;
    left: 7rem;
    background: linear-gradient(to right , rgb(48, 204, 122), rgb(42, 186, 197));
    border: none;
}
.footer-invite p{
    color:rgb(106, 108, 131);
}

.filter-green{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(69deg) brightness(206%) contrast(106%);
}

.mobile-background{
    position:relative;
    top:-51rem;
    display: none;    
}
.nav-details:hover{
    border-bottom: 2px solid green;
    
}
.close{
    visibility: hidden;
    position: relative;
    right: -5.5rem;
}
.mobile-nav{
    background-color: white;
    position: absolute;
    width: 19rem;
    height: 15rem;
    padding: 1rem;
    top: -2rem;
    left: 2rem;
    visibility: hidden;
    
}

.footer-nav a{
    text-decoration: none;
    color: white;
}
.footer-nav-items{
    color:white;
}
.hamburger-nav-items{
    color:black;
}
.footer-nav-items:hover{
    color:green;
}
#footer-button:hover{
    background: rgb(168, 240, 201);
}

.fil:hover{
    filter: invert(22%) sepia(96%) saturate(5090%) hue-rotate(112deg) brightness(96%) contrast(105%);
}
.attribution{
    margin-top:2rem;
    font-size: 14px;
    text-align: center;
}
@media(min-width:737px){
    #hamburger{      
        display: none;
        position: relative; 
        left:67rem;
    }
}

@media (max-width:375px){
    body{
        overflow-x: hidden;       
    }

    #hamburger{    
        position: relative;   
        visibility:visible;
    }

    header{        
        background-color: white; 
    }
    #digital-banking{
        background-color: rgb(250, 250, 250);
        height: 45rem; 
        margin: 0 5%;
        position: relative;
               
    }
    .digital-banking-background-image{
        width: 50rem;
        height: 30rem;
        position: relative;
        top: -65rem;
        right: 8rem;
        
                
    }
    .digital-banking-phone-images{
        width: 29rem;
        height: 35rem;
        position: relative;
        top: -118.5rem;   
        right: 4rem;
        
    }
    .digital-banking-details{
        margin-top: 28rem;
        
    }
    .digital-banking-header, .digital-banking-text{
        position: relative;
        top: -5rem;
        margin-bottom: 0;
        
    }
    #digital-banking-button{
        position: relative;
        top: -3rem;
        
    }
    .mobile-background{
        position:relative;
        top:-82rem;
        display: none;
    }
    body{
        text-align: center;
    }
    .footer-icons img{
        padding-right: 9px;
        position: static;
        top:3.5rem;
        margin: 1.5rem 0;
    }
    #footer-button{
        border-radius: 50px;
        margin: 2rem 0;
        position: static;
        
        background: linear-gradient(to right , rgb(48, 204, 122), rgb(42, 186, 197));
        border: none;
    }
    
    #reasons{   
        margin: 0 3%;
    }
    #articles{
        margin: 0 3%;
        background-color: white;
        
    }
    #digital-banking{
        margin: 5rem 0;
    }
    .reasons-why-text{
        margin: 0 3%;
    }
    .articles{
        margin:0  ;
    }   

}